body{
    background-image: linear-gradient(to left, rgb(95, 21, 95),gray);
}

#main{
    width: 600px;
    height: 200px;
    background-color: rgba(36, 93, 159, 0.319);;
    color: antiquewhite;
    text-align: center;
    padding-top: 10%;
    margin-left: 26%;
}

h1{
    color: white;
    text-align: center;
}

#ligar{
    width: 100px;
    height: 50px;
    background-color: rgba(36, 93, 159, 0.319);
    color: antiquewhite;
    margin-left: 42%;
    display: inline-block;
}


#desligar{
    width: 100px;
    height: 50px;
    background-color: rgba(36, 93, 159, 0.319);
    color: antiquewhite;
    display: inline-block;  
}